body {
    background-color: #232323;
}
.well {
    border-radius: 25px;
}
h1 {
    color: #33adff;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
h2 {
    color: #33adff;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
#stripe {
    text-align: center;
    padding-top: 15px;
}
.game-buttons {
    width: 200px;
    height: 60px;
    font-size: 25px;
    margin: 10px;
    font-family: 'Questrial', sans-serif;
    border-radius: 15px;
}
#container {
    max-width: 600px;
    margin: 0 auto;
}
.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
}
.correct-answer {
    clear: left;
    text-align: center;
    color: rgb(54, 161, 58);
    font-size: 50px;
    font-family: 'Questrial', cursive;
}
